.dise単os {
    div {
    font-family: $fuente_principal;
    text-align: center;
    background-position: center;
    opacity: 0.9;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/imagenes/imagen_de_contacto.jpg);
}
    h2 {
        font-family: $fuente_principal;
        font-size: x-large;
        position: relative;
        text-align: center;
        padding-top: 60px;
        color: white;
        display: flex;
        flex-flow: row;
        justify-content: center;
        @extend .containerTemple;
} 
} 
    p{
    font-family: $fuente_principal;
    font-size: x-large; 
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-left: 200px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
    
}

/* debajo agrego animacion*/

.dise単os{
    h2{
        display: inline-block;
        justify-content: center;
        width: 300px;
        background-color:white;
        opacity: 0.7;
        color: black;
        transition:all 10s;
        
    &:hover{
        width: 600px;
    }    
    }
    }  
.direccionimagenes{
    p{
    -webkit-animation: wobble-hor-top 0.8s both;
    animation: wobble-hor-top 0.8s both;
    }
@keyframes direccionimagenes__elegidise単o {
    0%,
    100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    }

    15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
    }

    30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
    }

    45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
    }
}

@keyframes wobble-hor-top {
    0%,
    100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    }

    15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
    }

    30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
    }

    45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
    }
}
}

.direccionimagenes {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin:0  auto;
    width: 100;
    background-image: url(../assets/imagenes/imagentitulo.jpg);
    background-size: cover;
    
    p{
    font-family: $fuente_principal;
    font-size:x-large;
    font-weight: bold;
    opacity: 0.7;
    color: black;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0 auto;
    }
    img{
        display: flex;
        flex-flow: row;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s;

    &:hover {
    transform: scale(1.1);
    
    }
}
}
.dise単osp{
    p{
    justify-content: center;
    align-content: center;
    font-family: $fuente_principal;
    text-align: center;
    background-image: url(../assets/imagenes/varios-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:white;
        opacity: 0.7;
    color: white;  
    font-weight: bold;
    font-size: larger;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 auto;
    }
    }

    

.volver{
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin-top: 5px;
    margin-bottom: 5px;
    @include button (5px);
    color: black;
    background-image: url(../assets/imagenes/imagentitulo.jpg);
    background-size: cover;
}
